<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://d2ms8rpfqc4h24.cloudfront.net/whats_new_in_angular15_9af012d463.jpg" alt="big-image"
            height="200px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod consequatur fugit laborum quaerat
                dolore ipsum
                fuga, sapiente ducimus maxime debitis possimus iure eius incidunt perferendis, omnis doloremque aliquid
                dolorem
                maiores.
            </a>
        </p>
    </div>
</div>