.container__menu-bar {
    margin-top: 15px;
}

.container__menu-bar > ul {
    flex-direction: row;
    display: flex;
}
.container__menu-bar > ul >li {
    margin: 0 20px;
    list-style-type: none;
}